@{
    ViewBag.Title = "Home Page of the localhost redirect service";
}

<div class="jumbotron">
    <h1>Localhost Redirect Service</h1>
    <p class="lead">Do you need to redirect to your localhost from a external callback method? Look no further.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You need to combine your localhost URL with this redirect service URL.
        </p>
    </div>
    <div class="col-md-4">
        <h2>What does this do</h2>
        <p>In short it grabs the query parameters that the external source added and then calls your lcoalhost callback as an intermediary</p>
    </div>
    <div class="col-md-4">
        <h2>Show me an example</h2>
        <p>
            <strong>Basic redirect</strong>
            http://localhostredirect.azurewebsites.net/redirect/Index/{LocalPort}/?Name=Marius&Surname=Vorster <br/>

            <strong>Added levels on localhost</strong>
            http://localhostredirect.azurewebsites.net/redirect/Index/{LocalPort}/controller/action?Name=Marius&Surname=Vorster

        </p>
        <p><a class="btn btn-default" href=" http://localhostredirect.azurewebsites.net/redirect/Index/60855/integration/callback">Redirect Me Now</a></p>
    </div>

</div>